
[submodule "Thirdparty/diff-match-patch"]
	path = Thirdparty/diff-match-patch
	url = https://github.com/HeliosVirtualCockpit/diff-match-patch
[submodule "InterfaceFiles/Interfaces"]
	path = InterfaceFiles/Interfaces
	url = https://github.com/HeliosVirtualCockpit/HeliosInterfaces
[submodule "OpenMacroBoard.SDK"]
	path = Thirdparty/OpenMacroBoard.SDK
	url = https://github.com/HeliosVirtualCockpit/OpenMacroBoard.SDK
	branch = helios
[submodule "StreamDeckSharp"]
	path = Thirdparty/StreamDeckSharp
	url = https://github.com/HeliosVirtualCockpit/StreamDeckSharp
	branch = helios