# build output
bin
obj
Helios*.msi
setup.exe
Keypress*.msi
Helios*.exe
*.tmp
*.binlog
*.log
*.failed

# mstest test results
TestResults

# profiler results
/*.vsp

# version upgrade output
/UpgradeLog*.htm*

# solution / workspace / project user options
*.suo
*.user

# visual studio temp directory, including more per-user options and build state
/.vs

# archives
Helios *.zip

# installer output folder
/installer

# nuget output folder
/packages

# temp files
*.bak

# these need clean up
Lua/DCS/doc/todo.txt
Lua/DCS/Scripts/HeliosExport/Mods
/Helios Installer/select_output.txt
/ActivityLog.xsl
/Patching/Templates/Patching/Additional Simulator Viewports
/prebuild.binlog
/Tools/TestApplyPatches/test
/Helios/Templates/Base/Simulator Viewports
/Lua/DCS/Scripts/Helios/HeliosExport16.lua
/Lua/runExportLua.ps1
/*.code-workspace
/Helios_with*.sln
/Tools/*NonHelios*
/InterfaceFiles/.vs/InterfaceFiles/project-colors.json
/InterfaceFiles/.vs/InterfaceFiles/v15/Server/sqlite3
