<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="AsyncWrapper"
            name="asynclog"
            queueLimit="200"
            timeToSleepBetweenBatches="1"
            batchSize="200"
            overflowAction="Grow"
            ForceLockingQueue="false"
            optimizeBufferReuse="true">
      <target name="logfile" xsi:type="File"
              fileName="${gdc:item=documentsPath:whenEmpty=.}/${processname}.log"
              archiveFileName="${gdc:item=documentsPath:whenEmpty=.}/Log Archive/${processname}.{#}.log"
              archiveEvery="Day"
              archiveNumbering="DateAndSequence"
              maxArchiveFiles="30"
              maxArchiveDays="7"
              archiveOldFileOnStartup="true"
              archiveAboveSize="2097152"
              concurrentWrites="false"
              keepFileOpen="true"
              encoding="utf-8"
              createDirs="true"
              openFileCacheTimeout="10"
              autoFlush="false"
              openFileFlushTimeout="3" />
    </target>
    <target name="badfile" xsi:type="File"
            fileName="${gdc:item=documentsPath:whenEmpty=.}/${processname} Problems.log"
            archiveFileName="${gdc:item=documentsPath:whenEmpty=.}/Log Archive/${processname} Problems.{#}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            maxArchiveFiles="30"
            maxArchiveDays="7"
            archiveOldFileOnStartup="true"
            archiveAboveSize="102400"
            concurrentWrites="false"
            keepFileOpen="true"
            encoding="utf-8"
            createDirs="true"
            openFileCacheTimeout="10"
            autoFlush="false"
            openFileFlushTimeout="3" />
    <target name="logconsole" xsi:type="Console" />
    <!-- this only exists in Control Center -->
    <target name="statusViewer" xsi:type="StatusViewer" 
            layout="${message}"/>
  </targets>

  <rules>
    <!-- never log these at debug except during development, because it keeps Control Center from running at frame rate -->
    <logger name="GadrocsWorkshop.Helios.HeliosBinding" level="Debug" final="true" />
    <logger name="GadrocsWorkshop.Helios.UDPInterface.BaseUDPInterface" level="Debug" final="true" />

    <!-- debug output to console -->
    <logger name="*" minlevel="Debug" writeTo="logconsole" />

    <!-- separate file for warning and errors -->
    <logger name="*" minlevel="Warn" writeTo="badfile" />

    <!-- control center wants to see warning and errors also -->
    <logger name="*" minlevel="Warn" writeTo="statusViewer" />

    <!-- this is always written to log regardless of level -->
    <logger name="GadrocsWorkshop.Helios.HeliosInit" minlevel="Info" writeTo="logfile" final="true"/>

    <!-- logging according to command line -->
    <logger name="*" minlevel="${gdc:item=logLevel:whenEmpty=Info}" writeTo="logfile" />
  </rules>
</nlog>