<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.7.82" targetFramework="net472" />
  <package id="Dirkster.AvalonDock" version="4.60.0" targetFramework="net472" />
  <package id="EosSharp" version="1.1.5488.21795" targetFramework="net45" />
  <package id="HidSharp" version="2.1.0" targetFramework="net45" />
  <package id="KeraLua" version="1.0.29" targetFramework="net472" />
  <package id="LibUsbDotNet" version="3.0.102-alpha" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json.Schema" version="3.0.13" targetFramework="net472" />
  <package id="NLog" version="4.7.0" targetFramework="net472" />
  <package id="NLua" version="1.4.31" targetFramework="net472" />
  <package id="SharpDX" version="4.2.0" targetFramework="net45" />
  <package id="SharpDX.DirectInput" version="4.2.0" targetFramework="net45" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.1" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net472" />
</packages>